@mixin fz-prefix($property, $value, $prefixes) {
  $property: unquote($property);
  $value: unquote($value);
  @each $prefix in $prefixes {
    #{$prefix}-#{$property}: $value;
  }
  #{$property}: $value;
}

@mixin fz-prefixValue($property, $value, $prefixes) {
  $property: unquote($property);
  $value: unquote($value);
  @each $prefix in $prefixes {
    #{$property}: #{$prefix}-#{$value};
  }
}